<div class="c-banner">
	<div class="c-banner__item <?php if (isset($bannerDark)) {if ($bannerDark === true) {echo 'c-banner__item--dark';}} ?>">
		<iframe id='a251bf36' name='a251bf36' src='//metalforum.com/mfblast/www/delivery/afr.php?zoneid=1&amp;cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='728' height='90'><a href='//metalforum.com/mfblast/www/delivery/ck.php?n=afb26f2e&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='//metalforum.com/mfblast/www/delivery/avw.php?zoneid=1&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=afb26f2e' border='0' alt='' /></a></iframe>
	</div>
	<div class="c-banner__item <?php if (isset($bannerDark)) {if ($bannerDark === true) {echo 'c-banner__item--dark';}} ?>">
		<iframe id='a6589d99' name='a6589d99' src='//metalforum.com/mfblast/www/delivery/afr.php?zoneid=4&amp;cb=INSERT_RANDOM_NUMBER_HERE' frameborder='0' scrolling='no' width='504' height='60'><a href='//metalforum.com/mfblast/www/delivery/ck.php?n=a1963dac&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='//metalforum.com/mfblast/www/delivery/avw.php?zoneid=4&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a1963dac' border='0' alt='' /></a></iframe>
	</div>
</div>