<meta charset="UTF-8">
<title><?php echo TITLE?></title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/8f654230a5.js" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="https://<?php echo $_SERVER['SERVER_NAME'] ?>/root/css/main.css">
<link rel="icon" type="image/x-icon" href="https://<?php echo $_SERVER['SERVER_NAME'] ?>/root/images/favicon.png">