<div id="mobileMenu" class="c-mobile-menu">
	<ul>
		<li class="c-mobile-menu__link"><a href="https://<?php echo $_SERVER['HTTP_HOST'] ?>/root/novinky">novinky</a></li>
		<li class="c-mobile-menu__link"><a href="https://<?php echo $_SERVER['HTTP_HOST'] ?>/root/clanky">članky</a></li>
		<li class="c-mobile-menu__link"><a href="https://<?php echo $_SERVER['HTTP_HOST'] ?>/root/galerie">galerie</a></li>
		<li class="c-mobile-menu__link"><a href="https://<?php echo $_SERVER['HTTP_HOST'] ?>/root/akce">akce</a></li>
		<li id="mobileSubmenuButton" class="c-mobile-menu__link"><a class="u-p">podporujeme</a><span class="c-main-menu__arrow c-main-menu__arrow--large"></span></li>
		<ul class="c-mobile-menu__submenu">
			<li class="c-mobile-menu__link c-mobile-menu__link--submenu"><a href="https://<?php echo $_SERVER['HTTP_HOST'] ?>/root/tagy/brutal_assault" class="c-main-menu__link u-white">Brutal Assault</a></li>
			<li class="c-mobile-menu__link c-mobile-menu__link--submenu"><a href="https://<?php echo $_SERVER['HTTP_HOST'] ?>/root/tagy/obscure_promotion" class="c-main-menu__link u-white">Obscure Promotion</a></li>
			<li class="c-mobile-menu__link c-mobile-menu__link--submenu"><a href="https://<?php echo $_SERVER['HTTP_HOST'] ?>/root/tagy/obscene_extreme" class="c-main-menu__link u-white">Obscene Extreme</a></li>
			<li class="c-mobile-menu__link c-mobile-menu__link--submenu"><a href="https://<?php echo $_SERVER['HTTP_HOST'] ?>/root/tagy/death_fest" class="c-main-menu__link u-white">MG CZ Death fest</a></li>
			<li class="c-mobile-menu__link c-mobile-menu__link--submenu"><a href="https://<?php echo $_SERVER['HTTP_HOST'] ?>/root/tagy/kafefest" class="c-main-menu__link u-white">Kafest</a></li>
		</ul>
	</ul>
</div>