<div>	
	<?php $News->showNews('small'); ?>
</div>
<div class="u-mob-hide">			
	<?php $Cube->showCube() ?>
</div>
<div class="o-container-v3">
	<div class="c-title c-title--compact">
		Diskuze
	</div>
	<div class="c-text-filter">
		<a id="commentsAll" class="c-text-filter__item c-text-filter__item--active">všechny</a>
		<a id="commentsReports" class="c-text-filter__item">reporty</a>
		<a id="commentsReviews" class="c-text-filter__item" >recenze</a>
		<a id="commentsOthers" class="c-text-filter__item">ostatní</a>
	</div>
	<div id="comments"></div>					
</div>
<!-- DISABLED
	<div>
		<h1 class="c-title">Bleskovky</h1>
		<div class="c-item-v2 c-item-v2--small">
			<a class="c-item-v2__text c-item-v2__text--hover">
				Koncert Hunstmen a Wolftooth v Praze 15.5. je zrušen.</a>
			<div class="c-item-v2__footer">
				<span class="c-item-v2__author">Bizzaro</span> - <span class="c-item-v2__date">02.01.2021</span>
			</div>
		</div>
		<div class="c-item-v2 c-item-v2--small">
			<a class="c-item-v2__text c-item-v2__text--hover">Nový termín pražského koncertu deathmetalových oldskůlařů Lik a Mass Worship je 13. 4. 2023!</a>
			<div class="c-item-v2__footer">
				<span class="c-item-v2__author">Bizzaro</span> - <span class="c-item-v2__date">02.01.2021</span>
			</div>
		</div>
		<div class="c-item-v2 c-item-v2--small">
			<a class="c-item-v2__text c-item-v2__text--hover">Své koncerty v Praze a Bratislavě, jakožto celé turné, zrušili As I Lay Dying. Zapomeňte tedy i na Dying Fetus a Emmure.</a>
			<div class="c-item-v2__footer">
				<span class="c-item-v2__author">Bizzaro</span> - <span class="c-item-v2__date">02.01.2021</span>
			</div>
		</div>
		<div class="c-item-v2 c-item-v2--small">
			<a class="c-item-v2__text c-item-v2__text--hover">Thrashmetalová legenda ASSASSIN zavítá v létě do pražské Modré Vopice! Datum je 19. 6. 2022 a zahrají i Nuclear z Chile plus další dva supporty.</a>
			<div class="c-item-v2__footer">
				<span class="c-item-v2__author">Bizzaro</span> - <span class="c-item-v2__date">02.01.2021</span>
			</div>
		</div>
	</div>
-->